html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: 'Futura PT';
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  background-color: #F3F3F3;

}